.form {
  display: inline-grid;
  justify-items: center;
  align-content: start;
  gap: 0.5rem;
}

.submitButton {
  text-align: center;
  border: medium;
  border-radius: 0.25rem;
  min-width: 11.625rem;
  padding: 0px 2rem;
  height: 2.625rem;
  font-weight: bold;
  background-color: rgb(255, 209, 64);
  color: rgb(0, 0, 0);
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
  cursor: pointer;
}
